<!--The content below is only a placeholder and can be replaced.-->
<body ng-app="myApp">

<div class ="container" style="text-align:center">
  <div class="jumbotron"><h1>
    Welcome to
  </h1>
  <h2>Lewis' D&D Character Creator</h2>
  <img class = "img-fluid" src = "https://vignette.wikia.nocookie.net/dd-the-soul-saga/images/c/cd/D%26D_Transparent.png/revision/latest/scale-to-width-down/640?cb=20160720040919">
</div>
</div> 

<div>
  <app-image></app-image>
  <app-name></app-name>
  <app-stats></app-stats>
  <app-race></app-race>
  <app-class></app-class>
  <app-background></app-background>
  <app-feats></app-feats>
  <app-character-information></app-character-information>
</div>
</body>