<div class="col-md-6">
        <div class ="card" style="width: 100%"> 
            <div id ="card-body">
        <div>
            <h2 class="card-header">Choose your background</h2>
            <select onselect="announce()" id="backgroundSelect" class="form-control">
                <option id="blankSelect">
                    --Background--
                </option>
                <option id="acolyteSelect">
                    Acolyte
                </option>
                <option id="charlatanSelect">
                    Charlatan
                </option>
                <option id="criminalSelect">
                    Criminal
                </option>
                <option id="entertainerSelect">
                    Entertainer
                </option>
                <option id="folkHeroSelect">
                    Folk Hero
                </option>  
                <option id="guildArtisanSelect">
                    Guild Artisan
                </option>  
                <option id="hermitSelect">
                    Hermit
                </option>           
                <option id="nobleSelect">
                    Noble
                </option>
                <option id="outlanderSelect">
                    Outlander
                </option>
                <option id="sageSelect">
                    Sage
                </option>
                <option id="sailorSelect">
                    Sailor
                </option>
                <option id="soldierSelect">
                    Soldier
                </option>
                <option id="urchinSelect">
                    Urchin
                </option>
            </select>    
        <div id="backgroundDescription"></div>
        <div id="subRaceDescription"></div>
        <div id="backgroundProfs">
            <h3 id ="backgroundSkillProfsHeader">Background skill proficiencies</h3>
            <ul id="backgroundSkillProfs">
            </ul>
            <h3 id ="backgroundToolProfsHeader">Background tool proficiencies</h3>
            <ul id="backgroundToolProfs"> 
            </ul>
            <h3 id ="backgroundLanguagesHeader">Background languages</h3>
            <ul id="backgroundLanguages"> 
            </ul>
            <h3 id ="backgroundItemsHeader">Background items</h3>
            <ul id="backgroundItems"> 
            </ul>
        </div>
    </div>
</div>
</div>
</div>