<div id="nameInput" class="card">
    <h2 class="card-header" id ="nameHeader">Enter your character's name</h2>
    <div class="card-body" id="name-body">
    <div class="input-group">
        <input class="form-control" placeholder="Enter your name..." aria-label="Enter your name..." aria-describedby="button-addon2"id="nameEntry" type="text"> 
        <div class="input-group-append">
            <button class="btn btn-outline-danger" type="button" (click)="submitName()" id="nameSubmit">Submit</button>
        </div> 
    </div>
</div>
</div>