<div class="col-md-6">
    <div class="card" id="featsBody" style="width: 100%">
        <div id="card-body">
            <div>
                <h2 class="card-header">Choose your feat</h2>
                <select onselect="announce()" id="featSelect">
                    <option id="blankSelect">
                        --Feat--
                    </option>
                    <option id="alertSelect">
                        Alert
                    </option>
                    <option id="athleteSelect">
                        Athlete
                    </option>
                    <option id="actorSelect">
                        Actor
                    </option>
                </select>
            </div>

            <div id="featDescription"></div>
            <div id="featPoints">
                <ul id="featPointsList">
                </ul>
            </div>
        </div>
    </div>
</div>