
<div class="col-md-6">
    <div class ="card" style="width: 100%"> 
        <div id ="card-body">
        <h2 class="card-header">Choose your race</h2>
        <select onselect="announce()" id="raceSelect" class="form-control">
            <option id="blankSelect">
                --Race--
            </option>
            <option id="dragonbornSelect">
                Dragonborn
            </option>
            <option id="dwarfSelect">
                Dwarf
            </option>
            <option id="elfSelect">
                Elf
            </option>
            <option id="gnomeSelect">
                Gnome
            </option>
            <option id="halfElfSelect">
                Half-Elf
            </option>  
            <option id="halfOrcSelect">
                Half-Orc
            </option>  
            <option id="halflingSelect">
                Halfling
            </option>           
            <option id="humanSelect">
                Human
            </option>
            <option id="tieflingSelect">
                Tiefling
            </option>
        </select>
        <select id ="subDwarfSelect" class="form-control">
                <option>
                    --Sub Race--
                </option>    
                <option>
                    Hill Dwarf
                </option>
                <option>
                    Mountain Dwarf
                </option>
        </select>

        <select id ="subHumanSelect" class="form-control">
                <option>
                    --Sub Race--
                </option>    
                <option>
                    Standard
                </option>
                <option>
                    Variant
                </option>
        </select>

        <select id ="subHalflingSelect" class="form-control">
                <option>
                    --Sub Race--
                </option>    
                <option>
                    Lightfoot
                </option>
                <option>
                    Stout
                </option>
        </select>

        <select id ="subGnomeSelect" class="form-control">
                <option>
                    --Sub Race--
                </option>    
                <option>
                    Forest Gnome
                </option>
                <option>
                    Rock Gnome
                </option>
        </select>

        <select id ="subDragonbornSelect" class="form-control">
                <option>
                    --Draconic Ancestry--
                </option>    
                <option>
                    Black
                </option>
                <option>
                    Blue
                </option>
                <option>
                    Brass
                </option>
                <option>
                    Bronze
                </option>
                <option>
                    Copper
                </option>
                <option>
                    Gold
                </option>
                <option>
                    Green
                </option>
                <option>
                    Red
                </option>
                <option>
                    Silver
                </option>
                <option>
                    White
                </option>
        </select>

        <select id ="subElfSelect" class="form-control">
                <option>
                    --Sub Race--
                </option>    
                <option>
                    High Elf
                </option>
                <option>
                    Wood Elf
                </option>
                <option>
                    Drow
                </option>
        </select>
    

    <div id="raceImgHolder">
        <img id="raceImg">
    </div>
    <div id="raceDescription"></div>
    <div id="subRaceDescription"></div>
    <div id="raceSpeed"></div>
    <div id="racialAbilities">
        <ul id="racialAbilitiesList">
        </ul>
        <ul id="subRacialAbilitiesList"> 
        </ul>
    </div>
    </div>
</div>
    </div>
