#statsRandomList, #statsChooseList
{
    display: none;
}

.statLabel
{
    list-style-type: none;
}

#chooseButton
{
    margin-left: 1%;
}

.col-md-6
{
    display: inline-flex;
    margin-bottom: 2%;
}