<div id ="characterInfoList">
    <h4>Character Information</h4>
    <ul id ="characterInfoList">
        <li class="characterInfoList">Name: <label class = "nameArea" id ="nameArea"> </label></li>
        <li class="characterInfoList">Race: <label class = "raceArea" id ="raceArea"> </label></li>
        <li class="characterInfoList">Class: <label class = "classArea" id ="classArea"> </label></li>
        <li class="characterInfoList">Background: <label class = "backgroundArea" id ="backgroundArea"> </label></li>
    </ul>
</div>